---
---

@import "{{ site.theme }}";

#header {
  display: none;
}

div.wrapper, section {
  max-width: 720px;
}

code.highlighter-rouge {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0;
    padding: 2px;
    white-space: nowrap
}
